{% include directory ~ '/templates/includes/header.html.twig' %}
<main id="contact">
	<!--
		display view
		{{ drupal_view('view_name', 'view_type') }}
	-->
</main>
{% include directory ~ '/templates/includes/footer.html.twig' %}