$sm-phone: 320px;
$m-phone: 480px;
$lg-phone: 600px;
$tablet: 768px;
$desktop: 960px;
$final: 1200px;

$primary: #606c3b;
$secondary: #3e606f;
$tertiary: #e3e4d8;
$transparent: rgba(96,108,59, 0.5);
$transparent2: rgba(227,228,216, 0.9);
$accent1: #ababa8;
$accent2: #d1dbbd;
$accent3: #92431b;
$accent4: #a0410d;
$accent5: #176b60;
$accent6: #2b9b8d;
$accent7: #f26522;
$gray: #707070;